*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body{
	display: flex;
	justify-content: center;
	padding: 2rem;
	min-height: 100vh;
}

#debug{
	position: absolute;
	z-index: 10;
}

canvas{
	position: absolute;
	border: solid 1px;
}

#uyari{
	position: absolute;;
	bottom: 0;
	padding: 2rem;
	width: 100%;
	text-align: center;
}

#uyari.hidden{
	display: none;
}